[Desktop Entry]
Encoding=UTF-8
Name=Compupic
Name[pl]=Compupic
Type=Application
Exec=compupic
GenericName=Picture browser
GenericName[pl]=Przeglądarka obrazów
Categories=Graphics;Viewer;
# vi: encoding=utf-8
